body{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.container{
    margin-top: 3rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 30rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    font-weight: 700;
}
.header-right{
    display: flex;
    align-items: end;
    gap: 2rem;
}
.toggle-choices{
    letter-spacing: .4rem;
    margin-left: .4rem;
    font-size: 1rem;
}
.toggle-box{
    width: 4.5rem;
    height: 1.4rem;
    background-color: var(--toggle-bg);
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:start;
    padding: .2rem .3rem;
}
.red-circle{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--equal-and-toggle-bg);
    cursor: pointer;
    transition: background-color 0.3s;
}
.red-circle:hover{
    background-color: var(--equal-and-toggle-hover);
}
.toggle-label{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}
main{
    width: 30rem;
}
.display{
    background-color: var(--screen-bg);
    width: 100%;
    padding: 1.5rem 1rem;
    color: var(--text-color);
    font-size: 32px;
    text-align: end;
    border-radius: .5rem;
    font-weight: 700;
    letter-spacing: .1rem;
    border: none;
}
.keyboard{
    background-color: var(--keypad-bg);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
}
.keypad{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}
.digit{
    background-color: var(--digit-bg);
    padding: .5rem .5rem .3rem .5rem;
    color: var(--dark-text);
    font-size: 32px;
    border-radius: .5rem;
    text-align: center;
    font-weight: 700;
    box-shadow: inset 0rem -.2rem var(--digit-shadow);
    transition: background-color 0.3s;
}
.digit:hover{
    background-color: var(--digit-hover);
}
.clear,
.reset{
    background-color: var(--action-bg);
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: inset 0rem -.2rem var(--action-shadow);
    transition: background-color 0.3s;
}
.clear:hover,
.reset:hover{
    background-color: var(--reset-and-del-hover);

}
.answer{
    background-color: var(--equal-and-toggle-bg);
    color: var(--ans-white);
    box-shadow: inset 0rem -.2rem var(--equal-and-toggle-shadow);
    transition: background-color 0.3s;
}
.answer:hover{
    background-color: var(--equal-and-toggle-hover);
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 640px) {
    .container{
        margin-top: 2rem;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 18rem;
        margin-bottom: 2rem;
        color: var(--text-color);
        font-weight: 700;
    }
    .header-right{
        display: flex;
        align-items: end;
        gap: 2rem;
    }
    .toggle-choices{
        letter-spacing: .4rem;
        margin-left: .4rem;
        font-size: 1rem;
    }
    .toggle-box{
        width: 4.5rem;
        height: 1.4rem;
        background-color: var(--toggle-bg);
        border-radius: 1rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content:start;
        padding: .2rem .3rem;
    }
    .red-circle{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: var(--equal-and-toggle-bg);
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .red-circle:hover{
        background-color: var(--equal-and-toggle-hover);
    }
    .toggle-label{
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
    }
    main{
        width: 18rem;
    }
    .display{
        background-color: var(--screen-bg);
        width: 100%;
        padding:  1rem;
        color: var(--text-color);
        font-size: 32px;
        text-align: end;
        border-radius: .5rem;
        font-weight: 700;
        letter-spacing: .1rem;
        border: none;
    }
    .keyboard{
        background-color: var(--keypad-bg);
        padding: 1rem;
        margin-top: 1rem;
        border-radius: .5rem;
    }
    .keypad{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: .7rem;
        margin-bottom: 1rem;
    }
    .digit{
        background-color: var(--digit-bg);
        padding: .7rem .6rem .7rem .6rem;
        color: var(--dark-text);
        font-size: 32px;
        border-radius: .5rem;
        text-align: center;
        font-weight: 700;
        box-shadow: inset 0rem -.2rem var(--digit-shadow);
        transition: background-color 0.3s;
    }
    .digit:hover{
        background-color: var(--digit-hover);
    }
    .clear,
    .reset{
        background-color: var(--action-bg);
        color: hsl(0, 0%, 100%);
        font-size: 1.2rem;
        font-weight: 700;
        box-shadow: inset 0rem -.2rem var(--action-shadow);
        transition: background-color 0.3s;
    }
    .clear:hover,
    .reset:hover{
        background-color: var(--reset-and-del-hover);
    
    }
    .answer{
        font-size: 1.5rem;
        background-color: var(--equal-and-toggle-bg);
        color: var(--ans-white);
        box-shadow: inset 0rem -.2rem var(--equal-and-toggle-shadow);
        transition: background-color 0.3s;
    }
    .answer:hover{
        background-color: var(--equal-and-toggle-hover);
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}